<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>テスト</title>
</head>
<body>
<h1 class="mt-3">ユーザー一覧</h1>
<form action="#" th:action=@{/admin/user_seach} method="GET">
	<input type="text" name="staffNm">
	<button type="submit">名前で検索</button>
</form>
<table class="table">
  <thead>
  <tr>
  	<th></th>
    <th>ユーザCD</th>
    <th>ユーザ名</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${userList}">
  	<td><a href="#" th:href="@{/admin/user_edit/{staffCd}(staffCd=${user.staffCd})}">編集</a></td>
    <td th:text="${user.staffCd}"></td>
    <td th:text="${user.staffNm}">(name)</td>
  </tr>
  </tbody>
</table>
</body>
</html>